.form-style-3{
    align-items:center;
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: #f0d215;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #f8ff5f;
    padding: 20px;
    background: rgba(128, 119, 65, 0.96);;
    box-shadow: inset 0px 0px 15px #fff8ad;
    -moz-box-shadow: inset 0px 0px 15px #fff0bd;
    -webkit-box-shadow: inset 0px 0px 15px #fcffd2;
}
.form-style-3 fieldset legend{
    color: #EBA909;
    border-top: 1px solid #fffabd;
    border-left: 1px solid #feffc5;
    border-right: 1px solid #fffec9;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 15px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ffee7a;
    outline: none;
    color: #f09c18;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #ffea62;
    -moz-box-shadow: inset 1px 1px 4px #ffff9d;
    -webkit-box-shadow: inset 1px 1px 4px #fffdae;
    background: #fffef0;
    width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #eba909;
    border: 1px solid #c9610b;
    padding: 5px 15px 5px 15px;
    color: #ffe275;
    box-shadow: inset -1px -1px 3px #ffc920;
    -moz-box-shadow: inset -1px -1px 3px #ffda25;
    -webkit-box-shadow: inset -1px -1px 3px #ffe85e;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}
.required{
    color: #ffbe29;
    font-weight:normal;
}